/*------------------------------------------------*/
/* Header */
.header {
    transition: all 0.5s;
    z-index: 997;
    height: 60px;
    box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
    background-color: #fff;
    padding-left: 20px;
  }
  
  /* Search Bar */
  /* Toggle Sidebar Button */
  .header .toggle-sidebar-btn {
    font-size: 32px;
    padding-left: 10px;
    cursor: pointer;
    color: #012970;
  }
  
  .header {
    position: fixed;
    top: 0;
    right: 0;
    left: 7.9cm; /* Match the margin-left of your content */
    height: 58px;
    z-index: 1000;
    background-color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}